body {
    font-family: Consolas, monospace;
    background-color: #0f0f0f;
    color: #e0e0e0;
    margin: 0;
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #333;
}

nav a {
    margin: 0 10px;
    color: #00ff9c;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.post-preview {
    background-color: #161616;
    padding: 20px;
    margin-bottom: 20px;
    border-left: 4px solid #00ff9c;
}

.post-preview a {
    color: #00ff9c;
    text-decoration: none;
}

.date {
    font-size: 0.9em;
    color: #aaa;
}

.post {
    background-color: #161616;
    padding: 30px;
    border-left: 4px solid #00ff9c;
}

pre {
    background-color: #000;
    padding: 10px;
    overflow-x: auto;
    color: #00ff9c;
}

footer {
    text-align: center;
    padding: 15px;
    color: #777;
}

